[Unit]
Description=Desktop bluetooth
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/blueman-applet
Restart=on-failure
RestartSec=3
