[Desktop Entry]
Type=Application
Name=Session and Power
Exec=@HOME@/.local/bin/desktop-power
Icon=system-shutdown
Terminal=false
Categories=Settings;
